<!-- src/app/navbar/navbar.component.html -->
<nav class="navbar">
    <div class="navbar-logo">
      <img src="/assets/logo.png" alt="Logo" class="logo" />
    </div>
    <ul class="navbar-links">
      <li><a (click)="navigateTo('add-forum')" class="nav-link">Forum</a></li>
      <li><a (click)="navigateTo('reclamations')" class="nav-link">Claim</a></li> <!-- Mise à jour ici -->
      <li><a (click)="navigateTo('activities')" class="nav-link">Activities</a></li> <!-- Mise à jour ici -->
      <li><a (click)="navigateTo('publications')" class="nav-link">Publications</a></li> <!-- Mise à jour ici -->
      <li><a (click)="navigateTo('appointments')" class="nav-link">Appointment</a></li> <!-- Mise à jour ici -->
      <li><a href="#" class="nav-link">Appointment</a></li>
    </ul>
  </nav>